In [244]:
from nltk import word_tokenize
from sklearn.feature_extraction.text import CountVectorizer, ENGLISH_STOP_WORDS
from nltk.corpus import stopwords
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
import joblib
from sklearn.neighbors import KNeighborsClassifier

In [201]:
df = pd.read_json('learnData.json')

In [202]:
df = df[["content", "messageType"]]

In [203]:
df = df.sample(frac=1)

In [204]:
df.head()

                                               content  messageType
93             Невозможно перечислить деньги через СБП            1
27   Отсутствует возможность войти в личный кабинет...            1
19   Ошибка соединения с ЦБ РФ - сертификат недейст...            1
81   Невозможно купить акции с помощью мобильного п...            1
172  Хотелось бы иметь возможность обратиться по во...            2

In [205]:
word_tokens = [word_tokenize(review) for review in df.content]

In [206]:
vect = CountVectorizer(ngram_range=(1, 2),
                               max_features=200,
                               token_pattern=r'\b[^\d\W][^\d\W]+\b').fit(df.content)
 
    # Create sparse matrix from the vectorizer
X = vect.transform(df.content)
 
    # Create a new DataFrame
df2 = pd.DataFrame(X.toarray(), columns=vect.get_feature_names())
df2['y'] = df.messageType
y = df2['y'].values

In [207]:
df2.head()

,pay,pay банке,ru,union,union pay,альфа,альфа банк,банк,банк санкт,банка,...,хоум,хоум кредит,цб,через,через банк,через приложение,экран,яндекса,яндекса приложении,y
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,1,0,1,...,1,1,0,1,0,1,0,0,0,1

In [257]:
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                        test_size=0.80,
                                                        stratify=y,
                                                        random_state=100)

In [268]:
model = KNeighborsClassifier(n_neighbors=5)

 
model.fit(X, y)

KNeighborsClassifier()

In [272]:
message = "Хотелось иметь возможность выбора категорий повышенного кешбэка в приложении банка Почта-банк"
messageData = {"content" : message}
X_m = vect.transform(messageData)

In [273]:
t = model.predict(X_m)

In [274]:
list(t)

[1]

In [275]:
joblib.dump(model,'randomforest_model.pkl')

['randomforest_model.pkl']